{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label='auth' %}">{% trans "Users" %}</a>
        &rsaquo; <span>Send email</span>
    </div>
{% endblock %}

{% block usertools %}
    {{block.super}}
    <div id="user-tools">
        {% block welcome-msg %}
            {{block.super}}
        {% endblock %}
        {% block userlinks %}
            {{block.super}}
        {% endblock %}
    </div>
{% endblock %}


{% block coltype %} {{ block.super }}
flex{% endblock %}


{% block content %}
{{block.super}}
    <!-- Form for sending email to Email view -->
    <form action="/admin/auth/user/send_email/" method="post">
        {% csrf_token %}
        <h5>Broadcast Email to all Users</h5>
        <label for="subject">Email Subject:</label><br>
        <input class="form-control input" type="text" name="subject">
        <br>
        <label for="message">Email Message:</label><br>
        <input class="form-control input-lg" type="text" name="message">
        <br>
    <input type="submit" name="submit" value="Send Mails"/>
    </form>
{% endblock %}

